:root {
    --red : #e31521;
    --dark-blue : #16151a;
    --yellow : #e7c65d;
    --white : #f6f7f2;

    --background : var(--dark-blue);
    --primary : var(--red);
    --secondary : var(--yellow);

}

*{
    margin:0;
    padding:0;
}

body {
    background-color:var(--background);
}